<%
var title = 'About';
var metaDescription = 'About the bot.';
var keywords = 'info, bot, activityrank, about';
%>

<% include partials/header %>

<!-- page content -->
<link href="/css/team.css" rel="stylesheet">
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Owner & Developer</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/img/about/linck01profilepic.jpg">
            </div>
            <div class="team-content">
              <h3 class="name">Linck#1086</h3>
              <h4 class="title">Software Engineer</h4>
            </div>
            <!--ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul-->
          </div>
        </div>
      </div>
    </div>
    <!--div class="col-md-6 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Mods</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="/img/about/villainousqueenprofilepic.png">
                </div>
                <div class="team-content">
                  <h3 class="name">VillainousQueen#4136</h3>
                  <h4 class="title">Power Support</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">

            </div>
          </div>


        </div>
      </div>
    </div-->
    <div class="col-md-6 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Credits</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a><br />

        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->



<% include partials/footer %>
