<%
var title = 'Faq';
var metaDescription = 'Frequently asked questions for ActivityRank Bot.';
var keywords = 'premium,support,pricing,features,info';
%>

<% include partials/header %>

<!-- page content -->
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

    </div>
  </div>
</div>
<!-- /page content -->



<% include partials/footer %>
