<%
var title = 'Buy Tokens';
var metaDescription = 'Additional paid premium features and cosmetics for customizing appearance and leveling even more.';
var keywords = 'buy,tokens,premium,support,pricing,features,info';
%>

<% include partials/header %>
<style>


</style>
<!-- page content -->
<div class="right_col" role="main">

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Premium</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <h4>The Bot is mostly free! Activating Premium for you or your server can unlock some new features and gives you quality of life upgrades, like reduced cooldowns on commands.</h4>
          <p>Check out our Patreon Page to see all the benefits for supporting us on <a target="_blank" href="https://www.patreon.com/rapha01">https://www.patreon.com/rapha01</a></p>
          <a href="https://www.patreon.com/bePatron?u=22060944" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
        </div>
      </div>
    </div>
    
  </div>
  <br /><br /><br /><br />

  <div class="row">

  </div>

</div>
<!-- /page content -->
 


<% include partials/footer %>
