<%
var title = 'Support';
var metaDescription = 'Help and Support for ActivityRank Bot.';
var keywords = 'support,help,features,info,bugs,bugreport';
%>

<% include partials/header %>

<!-- page content -->
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Support</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <h5>For Support please join our support discord server and post your question to the help channels or read our FAQ.</h5>
          <br />
          <a href="https://discordapp.com/invite/DE3eQ8H" target="_blank" type="button" class="btn btn-round btn-success">Join Support Server</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->



<% include partials/footer %>
